<a href="https://colab.research.google.com/github/tenzindolkar170-collab/Worksheet1-tenzindolkar/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

Sorting

In [6]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 19, 22, 25],
    'Score': [88, 92, 85, 95],
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0    Alice   24     88
1      Bob   19     92
2  Charlie   22     85
3    David   25     95

In [7]:
df_sorted_by_age = df.sort_values(by = 'Age')

print(df_sorted_by_age.head())

      Name  Age  Score
1      Bob   19     92
2  Charlie   22     85
0    Alice   24     88
3    David   25     95

In [8]:
sorted_by_index = df.sort_index()
print(sorted_by_index.head())

      Name  Age  Score
0    Alice   24     88
1      Bob   19     92
2  Charlie   22     85
3    David   25     95

In [11]:
subset_iloc = df.iloc[1:3, 0:2]
print("Subset using iloc:")
print(subset_iloc.head())

Subset using iloc:
      Name  Age
1      Bob   19
2  Charlie   22

In [12]:
first_two_rows = df.iloc[1:2]
print("\nFirst two rows:")
print(first_two_rows.head())

First two rows:
  Name  Age  Score
1  Bob   19     92

In [13]:
subset_loc = df.loc[df['Age'] > 20, ['Name', 'Score']]
print("\nSubset using loc:")
print(subset_loc)

Subset using loc:
      Name  Score
0    Alice     88
2  Charlie     85
3    David     95

In [16]:
subset_brackets = df[['Name', 'Age']]
print("\nSubset using brackets:")
print(subset_brackets)

Subset using brackets:
      Name  Age
0    Alice   24
1      Bob   19
2  Charlie   22
3    David   25

In [17]:
name_column = df["Name"]
print("\nName column:")
print(name_column)

Name column:
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [18]:
filter_single = df[df["Age"] > 20]
print("\nFilter single column:")
print(filter_single)

Filter single column:
      Name  Age  Score
0    Alice   24     88
2  Charlie   22     85
3    David   25     95

In [19]:
Filtered_multiple = df[(df["Age"] > 20) & (df["Score"] > 90)]
print("\nFiltered multiple columns:")
print(Filtered_multiple)

Filtered multiple columns:
    Name  Age  Score
3  David   25     95

Another Data Frame

In [20]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'IT', 'Finance', 'HR'],
    'Score': [88, 92, 85, 95]
}

df = pd.DataFrame(data)
print(df)

      Name Department  Score
0    Alice         HR     88
1      Bob         IT     92
2  Charlie    Finance     85
3    David         HR     95

In [23]:
filtered_single = df[df["Department"] == "HR"]
print("\nFiltered single column:")
print(filtered_single)

Filtered single column:
    Name Department  Score
0  Alice         HR     88
3  David         HR     95

In [25]:
filtered_multiple = df[df['Department'].isin(['HR', 'IT'])]
print(filtered_multiple)

    Name Department  Score
0  Alice         HR     88
1    Bob         IT     92
3  David         HR     95